body {
    background-color:#aec8ce ;
}
h1 {
    color:#b88c8c;
    text-align: center; 
    background-color: aliceblue;
    font-size: 75px;
    width: 40vw;
    margin: 0 auto;
    margin-top: 20px;

}
h2 {
    color:#d39494;
}
.poo {
    display: block;
}