
body {
  background-color: #aec8ce;
}
h1 {
  color: #b88c8c;
  text-align: center;
  background-color: aliceblue;
  font-size: 75px;
  width: 50vw;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
.secondheading {
  color: #b18282;
}
.second {
  border: 2px solid #4d7a85;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first {
  border: 2px solid #4d7a85;
  padding: 5px;
  font-size: 25px;
  position: absolute;
  top: 250px;
  left: 25%;
  transform: translate(-50%, -50%);
}
.third {
  border: 2px solid #4d7a85;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 250px;
  left: 75%;
  transform: translate(-50%, -50%);
}
.parent1 {
  border: 2px solid #4d8574;
  position: relative;
  padding: 5px;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 25%;
  top: 475px;
  transform: translate(-50%, -50%);
}
.child1 {
  max-width: 100%;
}
.parent2 {
  border: 2px solid #4d8574;
  position: relative;
  padding: 5px;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 475px;
  transform: translate(-50%, -50%);
}
.child2 {
  max-width: 100%;
}
.parent3 {
  border: 2px solid #4d8574;
  position: relative;
  padding: 5px;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 75%;
  top: 475px;
  transform: translate(-50%, -50%);
}
.child3 {
  max-width: 100%;
  max-height: 100%;
}
.works {
    color: #976e6e ;
    font-size: 15px;
}
.work1 {
    width: 200px;
    position: absolute;
    left: 17%;
    top: 625px;
    text-align: center;
}
.work2 {
    width: 200px;
    position: absolute;
    left: 42%;
    top: 625px;
    text-align: center;
}
.work3 {
    width: 200px;
    position: absolute;
    left: 67%;
    top: 625px;
    text-align: center;
}
.link {
    display: block;
}
.link1 {
    width: 200px;
    position: absolute;
    left: 17%;
    top: 710px;
    text-align: center;
}
.link2 {
    width: 200px;
    position: absolute;
    left: 42%;
    top: 710px;
    text-align: center;
}
.link3 {
    width: 200px;
    position: absolute;
    left: 67%;
    top: 710px;
    text-align: center;
}